<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660445166624-6m9voo45v1pbe0d4om0am5ppt0id9iuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660445166624-6m9voo45v1pbe0d4om0am5ppt0id9iuq</string>
	<key>API_KEY</key>
	<string>AIzaSyChuLYHA7R0KclrzOvDXR6ieRJFk9ULnVk</string>
	<key>GCM_SENDER_ID</key>
	<string>660445166624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.craftie</string>
	<key>PROJECT_ID</key>
	<string>craftie-91fee</string>
	<key>STORAGE_BUCKET</key>
	<string>craftie-91fee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660445166624:ios:f4494b34d6bbd50ccc5045</string>
</dict>
</plist>